[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
token = "*"
cryptography = "*"
fernet = "*"
undetected-chromedriver = "*"
config = "*"
pyinstaller = "*"
python-telegram-bot = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.3"
